@font-face {
  font-family: Forum;
  src: url('../fonts/Forum-Regular.ttf');
}

@font-face {
  font-family: Roboto;
  src: url('../fonts/Roboto-Light.ttf');
}

@font-face {
  font-family: Roboto-Thin;
  src: url('../fonts/Roboto-Thin.ttf');
}

@font-face {
  font-family: Roboto-Medium;
  src: url('../fonts/Roboto-Medium.ttf');
}

@font-face {
  font-family: Roboto-Bold;
  src: url('../fonts/Roboto-Bold.ttf');
}

* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

a,
li {
  text-decoration: none;
  list-style: none;
}

a {
  color: inherit;
}

button {
  cursor: pointer;
}

:root {
  --bg-dark: #030303;
  --bg-light: #ffffff;
  --dark-red: #710707;
  --font-gold: #9d8665;
  --font1: 80px;
  --font2: 32px;
  --font3: 28px;
}

footer {
  height: 200px;
}

section {
  padding-top: 75px;
  padding-bottom: 75px;
}

.dark {
  background-color: var(--bg-dark);
  color: #ffffff;
}

.light {
  background-color: var(--bg-light);
  color: #000000;
}

.container {
  margin: 0 auto;
  max-width: 1440px;
}
/*------HEADER---------*/

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 150px;
  color: #ffffff;
  padding-right: 120px;
  padding-left: 120px;
}

.logo {
  display: flex;
  align-items: baseline;
}

.logo-icon {
  background-image: url('../assets/svg/nav_log.svg');
  width: 49px;
  height: 26px;
}

.logo-title {
  font-family: Forum;
  font-size: 28px;
  font-weight: normal;
  letter-spacing: 5px;
  margin-left: 25px;
}

.header-nav {
  width: 775px;
}

.header-nav-list {
  display: flex;
  justify-content: space-between;
}

.header-nav-list-item {
  font-family: Roboto;
  font-size: 22px;
  letter-spacing: 2.2px;
}

.header-nav-list-item:hover {
  color: #9d8665;
  transition: 0.7s;
}

.header-nav-list-item:active {
  color: #7e6c51;
  transition: 0.7s;
}

.header-768-wrapper {
  display: none;
}

.nav-btn {
  width: 32px;
  height: 18px;
  background-image: url('../assets/svg/burger.svg');
  background-size: cover;
}

.nav-btn-off {
  display: none;
  width: 25px;
  height: 25px;
  background-image: url('../assets/svg/clsburgr.svg');
}

.header-menu-420,
.header-menu-420-inner {
  display: none;
}
/*------WELCOME----------*/

.welcome {
  height: 810px;
  position: relative;
  display: flex;
  justify-content: right;
  /*-----------------;*/
  color: #ffffff;
  padding: 0;
}

.welcome-bgr-wrapper {
  position: absolute;
  right: 0;
  width: 1000px;
  height: 750px;
}

.welcome-shadow {
  position: absolute;
  bottom: 0;
  width: 30%;
  height: 100%;
  z-index: 1;
  /* border: 1px solid red; */
  background: linear-gradient(
    90deg,
    #000000 0%,
    rgba(0, 0, 0, 0.5) 55.19%,
    rgba(0, 0, 0, 0) 100.73%
  );
}

.welcome-frame {
  position: absolute;
  width: 598px;
  height: 388px;
  top: 150px;
  left: 0;
  z-index: 1;
}

.section-title {
  font-family: Forum;
  font-size: var(--font1);
  text-transform: uppercase;
  font-weight: normal;
  letter-spacing: 5px;
  line-height: 90px;
}

.light-title {
  color: #9d8665;
}

.welcome-frame-span {
  display: block;
  font-family: Roboto;
  font-size: 28px;
  font-weight: 100;
  letter-spacing: 2px;
  margin-top: 25px;
}

.welcome-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 360px;
  height: 75px;
  background-color: var(--dark-red);
  border-radius: 10px;
  margin-top: 75px;
  font-family: Roboto;
  font-size: 22px;
  font-weight: 200;
  letter-spacing: 2px;
}

.welcome-link:hover {
  background-color: var(--font-gold);
  transition: 0.7s;
}

.welcome-slider {
  position: absolute;
  bottom: 0;
  right: 0;
  display: flex;
  width: 600px;
  height: 120px;
  background-color: var(--bg-dark);
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.slider-wrapper {
  display: flex;
  width: 450px;
  height: 40px;
  justify-content: space-between;
  align-items: center;
}

.nums {
  display: flex;
  width: 76px;
  height: 40px;
  justify-content: space-between;
  align-items: center;
  font-family: Roboto;
  font-size: 22px;
  font-weight: 200;
  letter-spacing: 1.3px;
}

.carousel-list {
  display: flex;
  justify-content: space-between;
  width: 180px;
  height: 16px;
}

.carousel-lis-item {
  width: 16px;
  height: 16px;
  background-color: #ffffff;
}

.carousel-lis-item:hover {
  background-color: #7e6c51;
  transition: 0.5s;
}

.current-list-item {
  background-color: var(--font-gold);
}

.arrows {
  width: 80px;
  height: 8px;
  display: flex;
  justify-content: space-between;
}

.left-arrow {
  width: 30px;
  height: 8px;
  border: none;
  background-color: var(--bg-dark);
  background-image: url('../assets/svg/left-arrow.svg');
  cursor: pointer;
}

.left-arrow:hover {
  background-image: url('../assets/svg/left-arrow-hover.svg');
  transition: 0.5s;
}

.right-arrow {
  width: 30px;
  height: 8px;
  border: none;
  background-color: var(--bg-dark);
  background-image: url('../assets/svg/right-arrow.svg');
  cursor: pointer;
}

.right-arrow:hover {
  background-image: url('../assets/svg/right-arrow-hower.svg');
  transition: 0.5s;
}
/*------VISITING----------*/

.visiting {
  height: 1115px;
}

.light-line {
  border: #710707 1px solid;
  margin-top: 25px;
  margin-bottom: 75px;
}

.virtual-tour-frame {
  height: 926px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
}

.virtual-tour-card {
  display: block;
  width: 440px;
}

.virtual-tour-card:hover div {
  width: 100%;
  transition: 00.7s;
}

.virtual-tour-card:hover img {
  transform: translate(4px, -4px);
  box-shadow: 14px 14px 4px #777777;
  transition: 0.3s;
}

.card-line {
  border: #710707 1px solid;
  width: 300px;
  transition: 0.7s;
}

.long {
  width: 100%;
  transition: 0.7s;
}

.virual-tour-title {
  font-family: Forum;
  text-transform: uppercase;
  font-size: var(--font2);
  letter-spacing: 5px;
  margin-top: 23px;
  margin-bottom: 10px;
}

.card-text1 {
  display: block;
  font-family: Roboto-Thin;
  font-size: 22px;
  margin-top: 10px;
}

.card-text2 {
  display: block;
  font-family: Roboto-Thin;
  font-size: 18px;
  margin-top: 9px;
}
/*------EXPLORE----------*/

.explore {
  height: 715px;
}

.explore-frame {
  display: flex;
  justify-content: space-between;
}

.b1 {
  width: 660px;
  height: 100%;
}

.b2 {
  width: 720px;
  height: 700px;
  position: relative;
  margin-top: 15px;
  /*-------------------------------*/
}

.expl-layer1 {
  position: absolute;
}

.expl-layer2 {
  position: absolute;
  right: 261px;
}

.explore-text {
  font-family: Roboto;
  font-size: 22px;
  line-height: 38.5px;
  margin-bottom: 27px;
}

.explore-span {
  color: var(--font-gold);
}
/*-------VIDEO----------*/

.video-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 75px;
}

.video-text {
  width: 720px;
  font-family: Roboto-Thin;
  font-size: 22px;
  line-height: 39px;
  letter-spacing: 0.17px;
}

.frame1,
.frame2,
.frame3 {
  width: 452px;
  height: 254px;
}

.frame1 {
  background-image: url('../assets/img/video-frames/Video-slide-r.png');
}

.frame2 {
  background-image: url('../assets/img/video-frames/Video-slide.png');
}

.frame3 {
  background-image: url('../assets/img/video-frames/Video-slide-l.png');
}

.player-frame {
  height: 650px;
  background-image: url('../assets/img/vid_bgr.jpg');
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.play-btn {
  width: 220px;
  height: 220px;
  background-image: url('../assets/svg/video_b1.svg');
  border: none;
  background-color: transparent;
  cursor: pointer;
  transition: 0.5s;
  z-index: 1;
  position: absolute;
}

.pause-video {
  background-image: url('../assets/svg/pause.svg');
  background-size: cover;
  background-repeat: no-repeat;
  width: 21px;
  height: 29px;
}

.play-btn:hover {
  background-image: url('../assets/svg/video_b1_hover.svg');
  transition: 0.5s;
}

video {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
/* .viewer {
                                        height: 100%;
                                      } */

.player-tool-bar {
  height: 85px;
  background-color: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tools {
  width: 1380px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tools button {
  border: none;
  background-color: transparent;
}

.tools-play-btn {
  background-image: url('../assets/svg/tool-play.svg');
  width: 23px;
  height: 31px;
  transition: 0.7s;
}

.tools-play-btn:hover {
  background-image: url('../assets/svg/tool-play-hover.svg');
  transition: 0.7s;
}

.tools-sound-btn {
  width: 38px;
  height: 31px;
  background-image: url('../assets/svg/volume@2x.svg');
  background-size: cover;
}

.mute {
  width: 36px;
  height: 30px;
  background-image: url('../assets/svg/mute.svg');
  background-size: cover;
  background-repeat: no-repeat;
}

.tools-sound-btn:hover {
  background-image: url('../assets/svg/volume@2x-hover.svg');
  transition: 0.7s;
}

.foolscr-on {
  width: 35px;
  height: 35px;
  background-image: url('../assets/svg/foolscr_on.svg');
  transition: 0.7s;
}

.foolscr-on:hover {
  background-image: url('../assets/svg/foolscr_on-hover.svg');
  transition: 0.7s;
}

.video__range {
  background: linear-gradient(to right, #710707 0%, #710707 0%, #fff 0%, #fff 100%);
  border-radius: 0px;
  height: 8px;
  width: 929px;
  outline: none;
  -webkit-appearance: none;
}

.sound__range {
  background: linear-gradient(to right, #710707 0%, #710707 100%, #fff 100%, #fff 100%);
  border-radius: 0px;
  height: 8px;
  width: 155px;
  outline: none;
  -webkit-appearance: none;
}

.range::-webkit-slider-thumb {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  -webkit-appearance: none;
  cursor: ew-resize;
  background: #ffffff;
}

.player-slider {
  height: 254px;
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}

.slider-control {
  width: 200px;
  height: 12px;
  display: flex;
  justify-content: space-between;
  margin: 40px auto 0 auto;
}

.sl-btn {
  width: 10px;
  height: 12px;
  border: none;
}

.left-btn {
  background-image: url('../assets/svg/sl-l.svg');
  transition: 0.5s;
}

.left-btn:hover {
  background-image: url('../assets/svg/sl-l-hover.svg');
  transition: 0.5s;
}

.right-btn {
  background-image: url('../assets/svg/sl-r.svg');
  transition: 0.5s;
}

.right-btn:hover {
  background-image: url('../assets/svg/sl-r-hover.svg');
  transition: 0.5s;
}

.slider-bullets {
  width: 140px;
  height: 10px;
  display: flex;
  justify-content: space-between;
}

.bullet {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #999999;
  transition: 0.5s;
}

.bullet:hover {
  background-color: var(--dark-red);
  transition: 0.5s;
}

.current-bullet {
  background-color: #333333;
}

iframe {
  width: 452px;
  height: 254px;
  border: none;
}
/*-------GALLERY----------*/

.gallery {
  padding-bottom: 0;
  z-index: 10;
}

.picture-container {
  height: 1960px;
  overflow-y: hidden;
  margin-top: 75px;
  position: relative;
}

.gallery-item {
  width: 456px;
  margin-bottom: 21px;
}

.col1-marg {
  margin-top: 50px;
}

.picture-inner-container {
  columns: 456px 3;
  column-gap: 36px;
}

.shadow-box {
  position: absolute;
  bottom: 0;
  width: 1440px;
  height: 360px;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
}
/*-------TICKETS-----------*/

.tickets {
  height: 742px;
}

.tickets-wrapper {
  display: flex;
  justify-content: space-between;
}

.block-title {
  font-family: Roboto-Bold;
  font-size: var(--font3);
  letter-spacing: normal;
}

.tickets-type-amount-inner {
  width: 660px;
  display: flex;
  justify-content: space-between;
}

.tickets-wrapper-img-inner {
  width: 720px;
  height: 550px;
  background-image: url('../assets/img/tickets-bgr.jpg');
}

.radio-inner {
  margin-top: 50px;
}
/*----------------------*/
/* The container */

.radio-label {
  display: block;
  position: relative;
  padding-left: 40px;
  margin-bottom: 24px;
  cursor: pointer;
  font-size: 22px;
  font-family: Roboto;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
/* Hide the browser's default radio button */

.radio-label input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}
/* Create a custom radio button */

.checkmark {
  position: absolute;
  top: 4px;
  left: 0;
  height: 15px;
  width: 15px;
  background-color: #eee;
  border-radius: 50%;
  border: 2px solid #000000;
}
/* On mouse-over, add a grey background color */

.radio-label:hover input ~ .checkmark {
  background-color: #ccc;
}
/* When the radio button is checked, add a blue background */

.radio-label input:checked ~ .checkmark {
  background-color: #ffffff;
}
/* Create the indicator (the dot/circle - hidden when not checked) */

.checkmark:after {
  content: '';
  position: absolute;
  display: none;
}
/* Show the indicator (dot/circle) when checked */

.radio-label input:checked ~ .checkmark:after {
  display: block;
}
/* Style the indicator (dot/circle) */

.radio-label .checkmark:after {
  top: 4px;
  left: 4px;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #000000;
}
/*----------------------*/

.amount {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  height: 443px;
}

.amount-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 25px;
  height: 400px;
  align-items: flex-end;
}

.amount__subtitle {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 26px;
  margin-bottom: 15px;
  margin-left: 2px;
}

.tickets__num {
  width: 144px;
  height: 43px;
  display: flex;
  justify-content: space-around;
  border: solid 3px #000000;
  margin-bottom: 11px;
}

.tickets__input {
  width: 33%;
  text-align: center;
  color: #000000;
  font-family: Roboto;
  font-size: 22px;
  line-height: 37px;
  border: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.num__inp {
  background: none;
  color: #000000;
  font-family: Roboto;
  font-size: 32px;
  line-height: 37px;
  border: none;
  width: 24px;
}

.num__inp:hover {
  cursor: pointer;
  color: #9d8665;
}

.minus {
  font-size: 40px;
}

.num-holder {
  margin-top: 13px;
  margin-left: 21px;
}

.senior {
  margin-top: 37px;
}

.tickets__num {
  margin-left: 2px;
  margin-top: 12px;
}

.tickets__total-sum {
  font-family: Roboto;
  font-size: 28px;
  letter-spacing: 1.65px;
  margin-top: 57px;
  padding-left: 23px;
  margin-bottom: 51px;
}

.tickets__buy {
  width: 175px;
  height: 50px;
  background-color: #ffffff;
  color: #000000;
  font-family: Roboto;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 2px;
  border: none;
}

.tickets__buy:hover {
  background-color: #9d8665;
}

.total {
  letter-spacing: 1.65px;
}

.buy-now-btn {
  width: 175px;
  height: 50px;
  background-color: #000000;
  color: #ffffff;
  border: none;
  border-radius: 2px;
  font-family: Roboto;
  font-size: 22px;
  letter-spacing: 2px;
  margin-top: 20px;
  transition: 0.7s;
}

.buy-now-btn:hover {
  background-color: var(--font-gold);
  color: #000000;
  transition: 0.7s;
}
/*------parallax-------*/

.parallax {
  width: 100%;
  height: 400px;
  background-image: url('../assets/img/parallax.jpg');
  background-size: cover;
  background-attachment: fixed;
}
/*-------CONTACTS-----------*/

.contacts {
  height: 813px;
}

.map-inner {
  width: 960px;
  height: 620px;
  /* background-image: url('../assets/img/map.png'); */
}

.map-inner iframe {
  width: 100%;
  height: 100%;
}

.contacts-wrapper {
  display: flex;
  justify-content: space-between;
}

.contacts-wrapper-text {
  height: 246px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.contact-list {
  height: 129px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.contacts-header {
  font-family: Roboto-Medium;
  font-size: var(--font3);
}

.contact-list {
  font-family: Roboto;
  font-size: 22px;
}
/*----------FOOTER------------*/

.footer {
  padding-top: 75px;
  height: 317px;
}

.footer-up {
  height: 190px;
  display: flex;
  justify-content: space-between;
}

.footer-logo-nav {
  width: 703px;
  height: 149px;
  display: flex;
  justify-content: space-between;
}

.footer-logo {
  width: 201px;
  height: 50px;
  font-family: Forum;
  font-size: var(--font3);
  letter-spacing: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-logo-bgr {
  width: 49px;
  height: 37px;
  background-image: url('../assets/svg/nav_log.svg');
  background-size: contain;
  background-repeat: no-repeat;
}

.footer-logo-bgr:hover {
  background-image: url('../assets/svg/logo-hover.svg');
  background-size: contain;
}

.footer-nav {
  width: 363px;
  justify-content: space-between;
  display: flex;
}

.nav-list {
  width: 107px;
  font-family: Roboto;
  font-size: 22px;
  line-height: 48px;
  letter-spacing: 2px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.nav-list-item:hover {
  color: var(--font-gold);
  transition: 00.5s;
}

.social-list {
  padding-top: 91px;
  width: 342px;
  display: flex;
  justify-content: space-between;
}

.social-list-item {
  width: 48px;
  height: 48px;
  cursor: pointer;
  border: 1px solid #ffffff;
  border-radius: 50%;
  display: flex;
  transition: 0.5s;
}

.youtube {
  margin-top: 11px;
  margin-left: 11px;
}

.insta {
  margin-top: 14px;
  margin-left: 13px;
}

.faceb {
  margin-top: 14px;
  margin-left: 17px;
}

.twitter {
  margin-top: 16px;
  margin-left: 15px;
}

.pinter {
  margin-top: 14px;
  margin-left: 14px;
}

.social-list-item:hover {
  border: 1px solid #9d8665;
  color: #9d8665;
  transition: 0.5s;
}

.footer-down {
  border-top: 3px solid #666666;
}

.down-inner {
  height: 124px;
}

.down-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: Roboto-Thin;
  font-size: 22px;
  letter-spacing: 2px;
  line-height: 22px;
}

.school-link {
  margin-left: 69px;
}

.school-link:hover,
.github-link:hover {
  color: var(--font-gold);
  transition: 0.5s;
}
/* -------------------------------------------- */

.booking {
  padding: 91px 235px 91px 235px;
  display: block;
  position: fixed;
  top: 70px;
  left: -1440px;
  transition: 0.7s;
}

.open-booking {
  left: 50%;
  margin-left: -720px;
  transition: 0.7s;
}

.booking-wrapper {
  margin: 0 auto;
  width: 970px;
  height: 663px;
  display: flex;
  justify-content: space-between;
}

.booking-leftside {
  width: 400px;
}

.leftside-title {
  height: 99px;
  background-image: url(../assets/svg/logo-hover.svg);
  background-repeat: no-repeat;
  border-bottom: 3px solid #710707;
  text-transform: uppercase;
  font-family: Forum;
  font-size: 50px;
  color: var(--font-gold);
  padding-top: 41px;
}

.leftside-title span {
  font-family: Roboto;
  font-size: 18px;
  color: var(--dark-red);
  text-transform: none;
  display: block;
  margin-top: 14px;
}

.lefside-form input,
select {
  height: 45px;
  border: 1px solid #000000;
  display: block;
  padding-left: 42px;
  font-size: 18px;
  box-sizing: border-box;
}

.input-date {
  position: relative;
}

.input-date::before {
  position: absolute;
  left: 10px;
  content: '';
  width: 15px;
  height: 15px;
  background-image: url('../assets/svg/date.svg');
}

.lefside-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 305px;
}

select {
  width: 403px;
  display: block;
}

.date-time-inner {
  display: flex;
  justify-content: space-between;
  width: 402px;
}

.input-date,
.input-time {
  display: block;
  width: 190px;
}

.input-name,
.input-email,
.input-phone,
.ticket-type-select {
  width: 400px;
  display: block;
}

.form-wrapper {
  height: 460px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 60px;
}

.entry-tickets {
  width: 369px;
  height: 108px;
  border: 1px solid #000000;
  padding: 10px 15px 15px 15px;
}

.entry-title {
  font-family: Forum;
  font-size: 18px;
  line-height: 26px;
  color: var(--font-gold);
  border-bottom: 2px solid #710707;
}

.basic-text,
.senior-text {
  font-family: Roboto;
  font-size: 18px;
}

.entry {
  display: flex;
  justify-content: space-between;
  margin-top: 18px;
}

.btn-wrapper {
  display: flex;
}

.entry-btn {
  width: 35px;
  height: 25px;
  background-color: #000000;
  border: none;
  background-repeat: no-repeat;
  background-position-x: 13px;
}

.min-btn {
  background-image: url('../assets/svg/btn-minus.svg');
  background-position-y: 12px;
}

.pl-btn {
  background-image: url('../assets/svg/btn-plus.svg');
  background-position-y: 8px;
}

.entry-num {
  width: 35px;
  height: 22px;
  background-color: #ffffff;
  border: none;
  text-align: center;
  font-family: Roboto;
  font-size: 18px;
  border-top: 1px solid #000000;
  border-bottom: 1px solid #000;
}

.booking-rightside {
  width: 469px;
  padding: 29px;
  position: relative;
  border: 1px solid #000000;
}

.overview {
  background-image: url('../assets/img/overbgr.jpg');
  background-repeat: no-repeat;
  background-position: 318px -3px;
}

.overview h4 {
  font-family: Roboto-Medium;
  font-size: var(--font2);
  line-height: 35px;
}

.overview span {
  font-family: Roboto-Medium;
  font-size: 22px;
  color: var(--dark-red);
}

.overview ul {
  font-family: Roboto;
  font-size: 18px;
  position: relative;
}

.overview ul li {
  padding-left: 25px;
  padding-left: 28px;
  margin-top: 15px;
  line-height: 12px;
}

.overview ul li::before {
  content: '';
  position: absolute;
  width: 15px;
  height: 15px;
  background-repeat: no-repeat;
  left: -2px;
  top: 1px;
}

.overview-list-item1::before {
  background-image: url('../assets/svg/date.svg');
}

.overview-list-item2 {
  position: relative;
}

.overview-list-item2::before {
  background-image: url('../assets/svg/Time.svg');
}

.overview-list-item3 {
  position: relative;
}

.overview-list-item3::before {
  background-image: url('../assets/svg/tempor.svg');
}

.total-over {
  font-family: Roboto;
  font-size: 22px;
  margin-top: 29px;
  line-height: 30px;
  letter-spacing: 0;
}

.inner-num {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.num-bas,
.num-sen {
  width: 32px;
  height: 20px;
  background-color: #000000;
  color: #ffffff;
  font-size: 18px;
  line-height: 20px;
  text-align: center;
  border-radius: 3px;
}

.cost {
  margin-left: 10px;
}

.total-basic,
.total-senior,
.total-inner {
  display: flex;
  justify-content: space-between;
}

.total-inner {
  font-family: Roboto;
  font-size: var(--font2);
  border-top: 2px solid #710707;
  margin-top: 5px;
  line-height: 60px;
}

.cards {
  width: 470px;
  height: 241px;
  position: relative;
}

.card1 {
  width: 360px;
  height: 211px;
  background-image: url('../assets/img/card1.png');
  position: absolute;
  z-index: 2;
}

.card2 {
  width: 360px;
  height: 211px;
  background-image: url('../assets/img/card2.png');
  position: absolute;
  right: 0;
  bottom: 0;
}

.booking-rightside button {
  width: 220px;
  height: 45px;
  background-color: var(--dark-red);
  color: #ffffff;
  font-family: Roboto;
  border: none;
  font-size: 22px;
  position: absolute;
  right: 30px;
  bottom: 23px;
}

.booking-rightside button:hover {
  background-color: var(--font-gold);
  transition: 0.5s;
}

.close-wnd {
  position: absolute;
  top: -60px;
  right: -206px;
  width: 25px;
  height: 25px;
  background-image: url('../assets/svg/Close.svg');
  cursor: pointer;
}

.close-wnd:hover {
  width: 32px;
  height: 32px;
  background-size: contain;
  transition: 00.5s;
}

.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  background: #333333;
  opacity: 0.5;
  top: 0;
  left: -100%;
  transition: 00.5s;
}

.overlay-open {
  left: 0%;
  transition: 00.5s;
}

.nav-btn {
  display: none;
}

.close-burger {
  display: none;
}
/* ------------------------------------------------------------------ */

@media (max-width: 1470px) {
  .booking {
    padding: 75px 27px 30px 27px;
  }
  .frame1,
  .frame2,
  .frame3 {
    width: 300px;
    height: 170px;
    background-size: contain;
  }
  .open-booking {
    left: 50%;
    margin-left: -512px;
  }
  .close-wnd {
    top: -48px;
    right: 0px;
  }
  .container {
    padding-left: 20px;
    padding-right: 20px;
  }
  .picture-inner-container {
    columns: 350px;
  }
  .gallery-item {
    width: 350px;
  }
  iframe {
    width: 300px;
    height: 170px;
  }
  .video__range {
    width: 810px;
  }
  .tools {
    width: 902px;
  }
  .virtual-tour-card {
    width: 380px;
  }
  .virtual-tour-card img {
    width: 100%;
  }
  .virtual-tour-frame {
    height: 800px;
  }
  .virual-tour-title {
    font-size: 28px;
  }
  .explore-frame {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }
  .b1 {
    width: 100%;
  }
  .explore {
    height: 1220px;
  }
  .b2 {
    margin-left: auto;
    margin-right: auto;
  }
  .visiting {
    height: 990px;
  }
  .play-btn {
    width: 152px;
    height: 152px;
    background-size: contain;
  }
  .video__range {
    width: 564px;
    height: 5px;
  }
  .sound__range {
    width: 143px;
    height: 5px;
  }
  .tools-sound-btn {
    width: 26px;
    height: 20px;
    background-size: contain;
    background-repeat: no-repeat;
  }
  .foolscr-on {
    width: 26px;
    height: 26px;
    background-size: contain;
    background-repeat: no-repeat;
  }
  .player {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .player-slider {
    height: 170px;
  }
  .player-tool-bar {
    height: 60px;
    width: 984px;
  }
  .player-frame {
    width: 985px;
    height: 444px;
    background-size: contain;
    background-repeat: no-repeat;
  }
  .player-slider-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .player-slider {
    width: 982px;
  }
  .video-text {
    display: none;
  }
  .picture-container {
    overflow-x: hidden;
  }
  .ticket-type {
    display: none;
  }
  .tickets-type-amount-inner {
    width: 196px;
    display: flex;
    justify-content: space-between;
  }
  .amount-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 25px;
    height: 379px;
    align-items: flex-start;
  }
  .tickets__num {
    width: 171px;
  }
  .tickets {
    height: 733px;
  }
  .picture-container {
    height: 1265px;
    margin-top: 47px;
  }
  .parallax {
    background-position: center;
  }
  .map-inner {
    width: 694px;
    height: 454px;
    background-position: right;
    background-position-y: 0px;
  }
}

@media (max-width: 1204px) {
  .virtual-tour-card {
    width: 320px;
  }
  .virual-tour-title {
    letter-spacing: 3px;
    width: 328px;
  }
  .gallery-item {
    width: 304px;
  }
  .picture-inner-container {
    columns: 304px 3;
    column-gap: 36px;
  }
  .tickets-wrapper-img-inner {
    width: 700px;
    height: 440px;
    background-position: center;
  }
  .tickets-type-amount-inner {
    width: 208px;
  }
  .amount {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 437px;
  }
  .amount-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 25px;
    height: 400px;
    align-items: center;
  }
  .amount__subtitle {
    margin-bottom: 10px;
  }
  .total {
    font-family: Roboto-Bold;
    font-size: 28px;
    margin-top: -53px;
    line-height: 30px;
    letter-spacing: 1.65px;
  }
  .tickets__num {
    margin-left: 2px;
    margin-top: 11px;
    margin-bottom: 31px;
  }
  .block-title {
    line-height: 30px;
    margin-bottom: 5px;
  }
  .tickets {
    height: 600px;
  }
  .contacts {
    height: 618px;
  }
  .contacts-header {
    font-size: 24px;
  }
  .contact-list {
    font-size: 20px;
    height: 99px;
  }
  .contacts-wrapper-text {
    height: 187px;
  }
  .footer {
    padding-top: 51px;
  }
  .footer-logo-nav {
    width: 550px;
    height: 150px;
  }
  .footer-nav {
    width: 316px;
  }
  .card-line {
    width: 150px;
  }
}
/*-----------ADAPTIVE--- 1024-------*/

@media (max-width: 1060px) {
  .container {
    margin: 0 auto;
    max-width: 984px;
    padding-left: 20px;
    padding-right: 20px;
  }
  .header-container {
    height: 130px;
    position: relative;
  }
  .header-nav-list {
    display: flex;
    position: absolute;
    top: 165px;
    left: -150px;
    width: 122px;
    height: 263px;
    flex-direction: column;
    justify-content: space-between;
    background-color: #000000;
    transition: 0.5s;
    z-index: 1;
  }
  .header-nav-list-on {
    left: 55px;
    transition: 0.5s;
    z-index: 1;
  }
  .header-nav-list-item {
    background-image: url('../assets/svg/li_marker.svg');
    background-repeat: no-repeat;
    background-position: 114px 8px;
    font-size: 20px;
    letter-spacing: 2px;
  }
  .nav-btn {
    display: block;
    width: 46px;
    height: 24px;
    cursor: pointer;
    transition: 0.5s;
  }
  .animate {
    background-image: url('../assets/svg/clsburgr.svg');
    background-position: center;
    width: 25px;
    height: 25px;
    transform: rotate(90deg);
    transition: 0.5s;
  }
  .welcome {
    height: 585px;
  }
  .welcome-bgr-wrapper {
    width: 700px;
    height: 525px;
    right: 20px;
  }
  .welcome-bgr {
    width: 100%;
    height: 100%;
  }
  .welcome-frame {
    left: 20px;
  }
  .welcome-frame {
    width: 445px;
    height: 343px;
    top: 50px;
  }
  .section-title {
    font-size: 50px;
  }
  .welcome-frame-span {
    font-size: 24px;
  }
  .welcome-link {
    width: 300px;
    height: 60px;
    margin-top: 50px;
    font-size: 20px;
  }
  .welcome-slider {
    width: 687px;
  }
  .slider-wrapper {
    width: 401px;
    padding-left: 95px;
  }
  .carousel-list {
    width: 160px;
    height: 12px;
  }
  .carousel-lis-item {
    width: 12px;
    height: 12px;
  }
  .nums {
    font-size: 20px;
  }
  section {
    padding-top: 52px;
    padding-bottom: 67px;
  }
  .visiting {
    height: 1315px;
  }
  .section-title {
    line-height: 90px;
  }
  .virtual-tour-frame {
    width: 768px;
    margin-left: auto;
    margin-right: auto;
  }
  .virtual-tour-card {
    width: 330px;
    margin-bottom: 60px;
  }
  .virtual-tour-card img {
    width: 100%;
  }
  .virual-tour-title {
    font-size: 28px;
    line-height: 31px;
    letter-spacing: 3px;
  }
  .card-text1 {
    font-size: 20px;
    margin-top: 9px;
  }
  .card-text2 {
    font-size: 16px;
  }
  .light-line {
    margin-top: 13px;
    margin-bottom: 63px;
  }
  .explore {
    height: 1030px;
  }
  .explore-frame {
    flex-direction: column;
  }
  .b1 {
    width: 100%;
  }
  .explore-text br {
    display: none;
  }
  .explore-text {
    font-size: 20px;
    line-height: 35px;
    margin-bottom: 2px;
  }
  .t3 {
    display: none;
  }
  .b2 {
    margin-left: auto;
    margin-right: auto;
    margin-top: 62px;
  }
  .video-header {
    align-items: flex-start;
    flex-direction: column;
    margin-bottom: 32px;
  }
  .video-text {
    display: none;
  }
  .card-line {
    width: 150px;
  }
}
/* -------------------768--------------------------------- */

@media (max-width: 1023px) {
  .header-container {
    height: 110px;
  }
  .show-menu {
    position: absolute;
    width: 658px;
    height: 832px;
    left: 50%;
    top: 110px;
    margin-left: -384px;
    display: flex;
    flex-direction: column;
    padding: 35px 55px 0 55px;
    left: 50%;
    transition: 0.5s;
    z-index: 1;
    opacity: 1;
  }
  .header-768-wrapper {
    position: absolute;
    width: 658px;
    height: 832px;
    left: -150%;
    top: 110px;
    margin-left: -384px;
    display: flex;
    flex-direction: column;
    padding: 35px 55px 0 55px;
    transition: 0.5s;
    z-index: 1;
    opacity: 0;
  }
  .header-nav-list {
    position: static;
    opacity: 0;
  }
  .header-768-images {
    width: 658px;
    height: 375px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    margin-top: 35px;
  }
  .header-768-images-top {
    width: 658px;
    height: 194px;
    background-image: url('../assets/img/menu768/topimg.png');
  }
  .header-768-images-bottom {
    display: flex;
    justify-content: space-between;
  }
  .header-768-images-left {
    width: 319px;
    height: 161px;
    background-image: url('../assets/img/menu768/limg.png');
  }
  .header-768-images-right {
    width: 319px;
    height: 161px;
    background-image: url('../assets/img/menu768/rimg.png');
  }
  .header-social {
    margin-left: auto;
    margin-right: auto;
    margin-top: 35px;
    border-top: 1px solid #ffffff;
    height: 118px;
    width: 658px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .social-list-up {
    width: 342px;
    display: flex;
    justify-content: space-between;
  }
  .container {
    max-width: 768px;
    padding-right: 20px;
    padding-left: 20px;
    margin-left: auto;
    margin-right: auto;
  }
  .welcome-bgr-wrapper {
    width: 728px;
    height: 546px;
  }
  .welcome-shadow {
    display: none;
  }
  .welcome {
    height: 861px;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  .welcome-link {
    display: none;
  }
  .welcome-frame {
    position: static;
    text-align: center;
    height: 215px;
    order: -1;
  }
  .welcome-frame-span {
    font-size: 20px;
    letter-spacing: 2px;
  }
  .welcome-bgr-wrapper {
    display: flex;
    position: static;
  }
  .welcome-slider {
    position: static;
    height: 100px;
  }
  .section-title {
    line-height: 60px;
    font-size: 40px;
  }
  .slider-wrapper {
    padding-left: 0;
  }
  .logo {
    height: 28px;
    line-height: 40px;
  }
  .nums {
    width: 71px;
  }
  .virtual-tour-card {
    width: 280px;
    margin-bottom: 38px;
  }
  .virtual-tour-frame {
    width: 100%;
  }
  .virual-tour-title {
    letter-spacing: 3px;
    font-size: 22px;
    width: 280px;
    line-height: 22px;
  }
  .light-line {
    margin-top: 17px;
    margin-bottom: 40px;
  }
  .visiting {
    height: 1179px;
  }
  section {
    padding-top: 44px;
    padding-bottom: 4px;
  }
  .explore-text {
    display: none;
  }
  .b2 {
    width: 728px;
    height: 705px;
    margin-top: 0;
  }
  .expl-layer0 {
    width: 100%;
    height: 100%;
  }
  .expl-layer2 {
    height: 705px;
    right: 270px;
  }
  .expl-layer1 {
    height: 705px;
    width: 441px;
  }
  .explore {
    height: 860px;
  }
  .video__range {
    width: 728px;
    position: absolute;
    top: -12px;
    left: -29px;
  }
  .video-header {
    margin-bottom: 16px;
  }
  .sound__range {
    width: 486px;
    order: 2;
  }
  .tools {
    width: 668px;
    position: relative;
  }
  .tools-sound-btn {
    order: 1;
  }
  .foolscr-on {
    order: 3;
  }
  .player-tool-bar {
    height: 53px;
    width: 728px;
  }
  .player-frame {
    width: 728px;
    height: 329px;
  }
  .play-btn {
    width: 80px;
    height: 80px;
  }
  iframe {
    width: 354px;
    height: 199px;
  }
  .frame3 {
    display: none;
  }
  .player-slider {
    width: 728px;
    height: 199px;
    margin-top: 25px;
  }
  .slider-control {
    width: 190px;
    margin: 20px auto 75px auto;
  }
  .picture-inner-container {
    columns: 352px 2;
    column-gap: 24px;
  }
  .gallery-item {
    width: 352px;
  }
  .picture-container {
    height: 1081px;
    margin-top: 33px;
  }
  .tickets {
    height: 587px;
  }
  .tickets-wrapper-img-inner {
    width: 444px;
    height: 340px;
    background-size: contain;
  }
  .amount {
    height: 432px;
  }
  .tickets-type-amount-inner {
    width: 224px;
  }
  .tickets__num {
    margin-top: 8px;
  }
  .block-title {
    line-height: 37px;
    margin-bottom: 12px;
  }
  .amount__subtitle {
    margin-bottom: 8px;
  }
  .total {
    margin-top: -5px;
  }
  .parallax {
    height: 300px;
  }
  .contacts-header {
    font-size: 20px;
  }
  .contact-list {
    font-size: 18px;
    height: 93px;
  }
  .contacts-wrapper {
    flex-direction: column;
    height: 695px;
    justify-content: space-between;
    padding-bottom: 67px;
  }
  .contacts-wrapper-text {
    height: 179px;
  }
  .map-inner {
    width: 728px;
    height: 476px;
  }
  .frame3,
  .frame2,
  .frame1 {
    width: 354px;
    height: 199px;
  }
  .contacts {
    height: 877px;
  }
  .footer {
    padding-top: 42px;
    height: 369px;
  }
  .footer-up {
    flex-direction: column;
    height: 226px;
    margin-bottom: 40px;
  }
  .nav-list {
    font-size: 18px;
  }
  .footer-nav {
    width: 371px;
  }
  .footer-logo-nav {
    width: 661px;
    height: 139px;
  }
  .social {
    height: 49px;
  }
  .social-list {
    padding-top: 0;
    width: 341px;
    margin-left: 301px;
  }
  .footer-down {
    border-top: 1px solid #ffffff;
  }
  .down-inner {
    height: 104px;
  }
  .booking {
    position: absolute;
    top: 4800px;
    padding: 79px 30px 40px 30px;
  }
  .booking-wrapper {
    flex-direction: column;
    width: 530px;
    height: 1382px;
  }
  .input-name,
  .input-email,
  .input-phone,
  .ticket-type-select {
    width: 530px;
  }
  .input-date,
  .input-time {
    width: 251px;
  }
  .date-time-inner {
    width: 530px;
  }
  .open-booking {
    margin-left: -285px;
  }
  .entry-tickets {
    width: 498px;
  }
  .booking-leftside {
    width: 530px;
  }
  .close-wnd {
    top: -755px;
  }
  .cards {
    height: 325px;
  }
  .card2 {
    bottom: 83px;
  }
  .booking-rightside button {
    bottom: 38px;
  }
  .animate {
    width: 40px;
    height: 25px;
  }
}
/* **************************************** */
/* **************************************** */
/* **************************************** */
/* **************************************** */

@media (max-width: 767px) {
  .header-container {
    height: 90px;
  }
  .logo-title {
    font-size: 16px;
  }
  .logo {
    line-height: 32px;
  }
  .logo-icon {
    width: 29px;
    height: 16px;
    background-size: contain;
    background-repeat: no-repeat;
  }
  .header-nav-list {
    position: absolute;
  }
  .container {
    max-width: 768px;
  }
  .welcome-bgr-wrapper {
    width: 100%;
    height: 75vw;
  }
  .welcome {
    height: 129vw;
  }
  .welcome-bgr-wrapper {
    width: 100%;
    height: 68vw;
  }
  .welcome-frame {
    width: 100%;
    height: 221px;
  }
  .welcome-frame-span {
    font-size: 16px;
    margin-top: 21px;
  }
  .welcome-slider {
    width: 100%;
  }
  .slider-wrapper {
    width: 60%;
  }
  .carousel-list {
    height: 7px;
    width: 30%;
  }
  .carousel-lis-item {
    width: 7px;
    height: 7px;
  }
  .nums {
    font-size: 16px;
    width: 52px;
  }
  .arrows {
    width: 25%;
  }
  .left-arrow,
  .right-arrow {
    width: 37%;
    background-size: contain;
    background-repeat: no-repeat;
  }
  .section-title {
    font-size: 28px;
    line-height: 40px;
  }
  .card-line {
    width: 150px;
  }
  .picture-container {
    width: 380px;
  }
  .gallery {
    display: flex;
  }
  .b2 {
    width: 380px;
    height: 368px;
  }
  .expl-layer1 {
    width: 230px;
    height: 368px;
  }
  .expl-layer2 {
    width: 20px;
    height: 374px;
    right: 140px;
  }
  .explore {
    height: 504px;
  }
  section {
    padding-top: 43px;
  }
  .player-frame {
    width: 380px;
    height: 172px;
  }
  .player-tool-bar {
    width: 380px;
  }
  .tools {
    width: 340px;
  }
  .video__range {
    width: 380px;
    left: -19px;
    top: -18px;
  }
  .sound__range {
    width: 195px;
  }
  .tools-play-btn {
    width: 14px;
    height: 18px;
    background-size: contain;
    background-repeat: no-repeat;
  }
  .tools-sound-btn {
    width: 18px;
    height: 14px;
  }
  .foolscr-on {
    width: 18px;
    height: 18px;
  }
  .player-slider {
    width: 380px;
    height: 101px;
    background-repeat: no-repeat;
    margin-top: 38px;
  }
  .frame3,
  .frame2,
  .frame1 {
    height: 101px;
    width: 180px;
  }
  .slider-control {
    width: 172px;
    margin: 38px auto 37px auto;
  }
  .slider-bullets {
    width: 120px;
    height: 10px;
  }
  .play-btn {
    width: 50px;
    height: 50px;
  }
  .bullet {
    width: 8px;
    height: 8px;
  }
  .picture-inner-container {
    columns: 172px 2;
    column-gap: 24px;
  }
  .gallery-item {
    width: 172px;
  }
  .picture-container {
    height: 638px;
  }
  .tickets-wrapper {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    height: 577px;
  }
  .tickets-wrapper-img-inner {
    width: 100%;
    height: 160px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: 01%;
    background-image: url('../assets/img/buy420.png');
  }
  .tickets-type-amount-inner {
    width: 179px;
  }
  .block-title {
    font-size: 16px;
    line-height: 45px;
    margin-bottom: -23px;
  }
  .amount {
    align-items: center;
    height: 391px;
  }
  .tickets {
    height: 709px;
  }
  .amount__subtitle {
    font-size: 16px;
  }
  .total {
    letter-spacing: 0;
  }
  .senior-amount {
    margin-top: -8px;
    height: 78px;
  }
  .contacts-header,
  .contact-list {
    font-size: 16px;
  }
  .map-inner {
    width: 100%;
    height: 248px;
    background-image: url('../assets/img/Rectangle.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    margin-left: auto;
    margin-right: auto;
  }
  .contacts-wrapper {
    height: 458px;
  }
  .contacts {
    height: 610px;
  }
  .footer-logo {
    width: 131px;
    height: 31px;
    font-family: Forum;
    font-size: 16px;
  }
  .footer-logo-nav {
    flex-direction: column;
    width: 100%;
    height: 144px;
  }
  .footer-logo-bgr {
    width: 29px;
    height: 16px;
  }
  .footer-nav {
    flex-direction: column;
  }
  .nav-list {
    flex-direction: row;
    width: 380px;
    font-size: 16px;
  }
  .nav-list-item {
    width: 77px;
  }
  .social-list {
    margin-left: auto;
    margin-right: auto;
    width: 260px;
  }
  .school-link {
    display: none;
  }
  .contacts-wrapper-text {
    height: 167px;
  }
  .contacts {
    height: 589px;
  }
  .contact-list {
    height: 87px;
  }
  .footer {
    padding-top: 38px;
    height: 372px;
  }
  .footer-up {
    height: 218px;
    margin-bottom: 40px;
  }
  .down-inner {
    font-size: 16px;
  }
  .header-768-wrapper {
    display: none;
  }
  .header-menu-420-inner {
    display: block;
  }
  .header-menu-420-inner-show {
    display: block;
    left: 50%;
    margin-left: -210px;
  }
  .header-menu-420-inner {
    left: -100%;
    transition: 0.5s;
    z-index: 1;
  }
  .header-menu-420-inner-show {
    left: 50%;
    margin-left: -210px;
    display: block;
    transition: 0.5s;
  }
  .header-menu-420 {
    display: block;
    width: 420px;
    height: 561px;
    background-color: #000000;
    margin-left: auto;
    margin-right: auto;
    transition: 00.5s;
    z-index: 1;
  }
  .header-menu-420-close {
    position: absolute;
    left: -150%;
    transition: 0.5s;
  }
  .header-menu-420 .header-nav-list {
    display: flex;
    position: static;
    opacity: 1;
    width: 122px;
    height: 263px;
    padding-left: 55px;
    padding-top: 35px;
  }
  .header-menu-420 .header-social {
    width: 420px;
    height: 95px;
  }
  .menu-img-container {
    display: flex;
    justify-content: space-between;
    width: 310px;
    height: 95px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 35px;
    /*  border: olive 1px solid; */
  }
  .menu-img-container div {
    height: 95px;
    width: 95px;
  }
  .menu-imgl {
    background-image: url('../assets/img/menu420/meil.png');
  }
  .menu-imgm {
    background-image: url('../assets/img/menu420/mei.png');
  }
  .menu-imgr {
    background-image: url('../assets/img/menu420/meir.png');
  }
  .header-menu-420-inner {
    position: absolute;
  }
  .booking-wrapper {
    width: 360px;
    height: 1569px;
  }
  .booking-leftside {
    width: 360px;
    height: 690px;
  }
  .leftside-title {
    font-size: 32px;
    height: 81px;
  }
  .form-wrapper {
    margin-top: 40px;
    height: 526px;
  }
  .lefside-form {
    height: 371px;
  }
  .date-time-inner {
    flex-direction: column;
    height: 111px;
    width: 360px;
  }
  .input-date,
  .input-time,
  .input-name,
  .input-email,
  .input-phone,
  .ticket-type-select {
    width: 360px;
  }
  .entry-tickets {
    height: 109px;
    width: 328px;
  }
  .open-booking {
    margin-left: -210px;
  }
  .close-wnd {
    top: -788px;
    right: 0px;
  }
  .booking-rightside {
    width: 328px;
    padding: 15px;
    height: 805px;
  }
  .overview {
    background-position: 209px -3px;
    background-size: 36%;
  }
  .card1 {
    width: 330px;
    height: 209px;
    background-size: 100%;
    background-repeat: no-repeat;
  }
  .card2 {
    width: 330px;
    height: 209px;
    right: 140px;
    bottom: -103px;
    background-size: 100%;
    background-repeat: no-repeat;
  }
}
/* ------------------**************************************-- */
/* ------------------**************************************-- */
/* ------------------**************************************-- */

@media (max-width: 621px) {
  .virtual-tour-frame {
    align-content: space-between;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
  }
  .virual-tour-title {
    font-size: 18px;
    letter-spacing: 5px;
  }
  .card-text1 {
    font-size: 16px;
  }
  .visiting {
    height: 2108px;
  }
  .virtual-tour-card {
    margin-bottom: 36px;
  }
  .b2 {
    width: 380px;
    height: 368px;
  }
  .expl-layer1 {
    width: 230px;
    height: 368px;
  }
  .expl-layer2 {
    width: 20px;
    height: 374px;
    right: 140px;
  }
  .explore {
    height: 504px;
  }
  section {
    padding-top: 43px;
  }
  .player-frame {
    width: 380px;
    height: 172px;
  }
  .player-tool-bar {
    width: 380px;
  }
  .tools {
    width: 340px;
  }
  .video__range {
    width: 380px;
    left: -19px;
    top: -18px;
  }
  .sound__range {
    width: 195px;
  }
  .tools-play-btn {
    width: 14px;
    height: 18px;
    background-size: contain;
    background-repeat: no-repeat;
  }
  .tools-sound-btn {
    width: 18px;
    height: 14px;
  }
  .foolscr-on {
    width: 18px;
    height: 18px;
  }
  .player-slider {
    width: 380px;
    height: 101px;
    background-repeat: no-repeat;
    margin-top: 38px;
  }
  .frame3,
  .frame2,
  .frame1 {
    height: 101px;
    width: 180px;
  }
  .slider-control {
    width: 172px;
    margin: 38px auto 37px auto;
  }
  .slider-bullets {
    width: 120px;
    height: 10px;
  }
  .play-btn {
    width: 50px;
    height: 50px;
  }
  .bullet {
    width: 8px;
    height: 8px;
  }
}

@media (max-width: 450px) {
}
